[submodule "edx-platform"]
	path = edx-platform
	url = git@github.com:edXPDRLab/edx-platform.git
[submodule "cs_comments_service"]
	path = cs_comments_service
	url = git@github.com:edXPDRLab/cs_comments_service.git
[submodule "ora"]
	path = ora
	url = git@github.com:edXPDRLab/edx-ora.git
[submodule "themes/edxpdrlab"]
	path = themes/edxpdrlab
	url = git@github.com:edXPDRLab/edx-theme.git
